body {
    background-color: black;
}
div {
    background-color: white;
}
#container {
    width: 500px;
    margin: 0 auto;
    margin-top: 10%;
    border: 2px solid black;
    padding: 5%;
}
button {
    height: 3em;
    width: 25%;
}
#answers {
    margin-top: 5%;
    margin-bottom: 5%;
}
p {
    transition: .5s;
}
