body {
    background-color: black;
}
div {
    background-color: white;
}
#container {
    width: 500px;
    margin: 0 auto;
    margin-top: 10%;
    border: 2px solid black;
    padding: 4%;
}
button {
    height: 3em;
    width: 25%;
    background-color: black;
    color: white;
    border-radius: 10px;
}
#answers {
    margin-top: 5%;
    margin-bottom: 5%;
}
p {
    transition: .5s;
    padding-inline: 3%;
    height: 1.5em;
    border-radius: 0.75em;
}
